<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nkpnotificationsdemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>nkpnotificationsdemo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>nkpnotificationsdemo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$nkpnotificationsdemo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MS_NotificationHubConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Endpoint=sb://[your namespace].servicebus.windows.net;SharedSecretIssuer=owner;SharedSecretValue=[your secret]" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MS_NotificationHubConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Endpoint=sb://[your namespace].servicebus.windows.net;SharedSecretIssuer=owner;SharedSecretValue=[your secret]" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MS_TableConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:nkpnotificationsdemo.database.windows.net,1433;Initial Catalog=nkpnotificationsdemodb;User ID=nkpatterson@nkpnotificationsdemo;Password=P2ssw0rd!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="nkpnotificationsdemoService.Models.nkpnotificationsdemoContext, nkpnotificationsdemoService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nkpnotificationsdemo.database.windows.net,1433;Initial Catalog=nkpnotificationsdemodb;User ID=nkpatterson@nkpnotificationsdemo;Password=P2ssw0rd!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>